* {
  margin: 0;
  padding: 0;
  font-family: "Museo Sans Cyrl";
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.header {
  display: flex;
}
.header > div {
  width: 33.3%;
}
.header__official {
  font-weight: 500;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.header__official span {
  display: block;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  margin-top: 12px;
}
.header__phone {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #C70101;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px;
  background: url(../img/promo.png) center/cover no-repeat;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
}
.promo__header {
  color: #fff;
  font-size: 42px;
  text-transform: uppercase;
  line-height: 42px;
}
.promo__subheader {
  margin-top: 17px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 24px;
}
.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: flex;
  justify-content: space-between;
}
.promo__icon {
  width: 106px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.promo .button_main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  background-color: #C70101;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.promo__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}
.promo__link a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: underline;
}

.advantages {
  background-color: #f6f6f6;
  padding: 73px 0 83px;
}
.advantages__header {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.advantages__icons {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}
.advantages__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}
.advantages__icon {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.advantages__p {
  text-align: center;
  width: 289px;
  margin-top: 25px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.advantages__p span {
  color: #f00;
  font-family: "MuseoModerno", cursive;
  text-decoration: underline;
}

.constultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url(../img/constutleishen.png) center/cover no-repeat;
}
.constultation .title {
  font-weight: 600;
  font-size: 36px;
  color: #fff;
  line-height: 50px;
  text-transform: uppercase;
}
.constultation__descr {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.constultation .feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.constultation .feed-form input {
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
  border: 0;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 300;
}
.constultation .feed-form input:nth-child(3) {
  margin-bottom: 20px;
}
.constultation button {
  background-color: #C70101;
  width: 100%;
  height: 55px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.carousel {
  padding: 81px 0;
}
.carousel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}
.carousel__inner img {
  width: 750px;
  height: 580px;
  -o-object-fit: contain;
     object-fit: contain;
}
.carousel__inner .slick-prev, .carousel__inner .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.carousel__inner .slick-prev img, .carousel__inner .slick-next img {
  width: 31px;
  height: 55px;
}
.carousel__inner .slick-next {
  left: auto;
  right: -66px;
}

.catalog {
  padding-bottom: 100px;
}
.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #6B6B6B;
  line-height: 48px;
  transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  margin-bottom: 0;
  margin-left: 0;
  transition: 0.5s all;
}
.catalog__tab_active {
  color: #fff;
  background-color: #C70101;
  border: none;
}
.catalog__tab:hover {
  background-color: #C70101;
  color: #fff;
}
.catalog__tab div {
  transform: skewX(25deg);
}
.catalog .title {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0D0D0D;
}
.catalog__content {
  margin-top: 60px;
  display: none;
  justify-content: center;
  flex-wrap: wrap;
}
.catalog__content_active {
  display: flex;
}
.catalog-item {
  width: 300px;
  min-height: 440px;
  background: #FFFFFF;
  border: 2px solid #E8E8E8;
  padding: 20px 20px 26px 20px;
  overflow: hidden;
  margin: 8px;
}
.catalog-item__img {
  max-width: 100%;
  height: 200px;
  display: block;
  margin: 0 auto;
}
.catalog-item__subtitle {
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #0D0D0D;
}
.catalog-item__descr {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
  color: #0D0D0D;
}
.catalog-item__link {
  display: block;
  margin-top: 17px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #C70101;
}
.catalog-item__link:hover {
  color: #C70101;
}
.catalog-item hr {
  margin-top: 19px;
  margin-bottom: 21px;
  border-bottom: none;
  background: #E8E8E8;
}
.catalog-item__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalog-item__old-price {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #555555;
}
.catalog-item__price {
  font-weight: 700;
  font-size: 20px;
  color: #050505;
}
.catalog-item__button {
  border-radius: 5px;
  border: none;
  width: 135px;
  height: 44px;
  background: #C70101;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
.catalog-item__wrapper {
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  transform: translateX(-100%);
  transition: 0.5s;
}
.catalog-item__content_active {
  transform: translateX(0%);
}
.catalog-item__list {
  position: relative;
  width: 50%;
  transform: translateX(0%);
  padding-right: 20px;
  transition: 0.5s;
  margin-bottom: 0;
  list-style-type: none;
}
.catalog-item__list_active {
  transform: translateX(-100%);
}
.catalog-item__list li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
}
.catalog-item__list li:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #C70101;
  left: 4px;
  top: 5px;
}
.catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: translateX(calc(-50% - 19px));
  display: block;
  color: #C70101;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  text-transform: uppercase;
}